.App {
  text-align: center;
}

.App button {
  
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
}
.App button:hover {
  background-color: rgb(246, 246, 246);
  color: white
}
