.App {
  text-align: center;
  margin: 10% auto;
}
.App input[type='text'] {
  display: block;
  width: 50%;
  margin: 10px auto;
  padding: 15px 32px;
  font-size: 14px;
  text-transform: uppercase;
}
.App textarea {
  width: 50%;
  padding: 15px 32px;
  font-size: 14px;
  text-transform: uppercase;
}
